<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" th:href="@{/css/public/reset.css}">
    <title>Ludiflex | Login</title>
</head>
<body th:style="|background-image: url('@{/img/hotel-bg.jpg}')|">
<div class="wrapper">
    <nav class="nav">
        <div class="nav-menu" id="navMenu">
            <ul>
                <li><a th:href="@{/public/home}" class="link active">Home</a></li>
            </ul>
        </div>
        <div class="nav-button">
            <button class="btn white-btn" th:onclick="|window.location.href='@{/public/login}'|">Log In</button>
            <button class="btn" th:onclick="|window.location.href='@{/public/signup}'|">Sign Up</button>
        </div>
    </nav>

    <div class="form-box">
        <!-- Tiêu đề chính -->
        <h2>Reset Your Password</h2>
        <!-- Đoạn mô tả ngắn -->
        <p>
            Nhập mật khẩu mới của bạn
        </p>
        <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
        <form th:action="@{/public/forgotPassword/reset-password}" method="post" th:object="${changePassword}">
            <input type="hidden" name="email" th:value="${email}">
            <input type="hidden" name="otp" th:value="${otp}">

            <div>
                <label>New Password:</label>
                <input type="password" th:field="*{password}" required>
            </div>

            <div>
                <label>Confirm Password:</label>
                <input type="password" th:field="*{repeatPassword}" required>
            </div>
            <button type="submit">Reset Password</button>
        </form>
    </div>
</div>
</body>
</html>
