.payment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px; /* Khoảng cách từ trên cùng xuống */
    box-sizing: border-box;
}


/* H1 Tiêu đề */
.payment-container h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #333;
}

/* Form */
.payment-container form {
    background-color: white; /* Nền trắng */
    border: 1px solid #ddd; /* Viền nhạt */
    border-radius: 8px; /* Bo tròn góc */
    padding: 20px 30px; /* Khoảng cách nội dung */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Hiệu ứng đổ bóng */
    width: 100%;
    max-width: 400px; /* Giới hạn chiều rộng */
}

/* Nhãn */
.payment-container label {
    display: block;
    font-size: 2rem;
    color: #555;
    margin-bottom: 8px;
}

/* Input */
.payment-container input {
    width: 100%;
    padding: 10px;
    font-size: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

/* Button */
.payment-container .del-button {
    background-color: #007bff; /* Màu xanh dương */
    color: white; /* Chữ trắng */
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

/* Button Hover */
.payment-container .de-button:hover {
    background-color: #0056b3; /* Màu xanh dương đậm hơn khi hover */
}


