<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" th:href="@{/css/log-sign.css}">
    <title>Ludiflex | Login</title>
</head>
<body>
<div class="wrapper">
    <nav class="nav">
        <div class="nav-menu" id="navMenu">
            <ul>
                <li><a th:href="@{/public/home}" class="link active">Home</a></li>
            </ul>
        </div>
        <div class="nav-button">
            <button class="btn white-btn" th:onclick="|window.location.href='@{/public/login}'|">Log In</button>
            <button class="btn" th:onclick="|window.location.href='@{/public/signup}'|">Sign Up</button>
        </div>
    </nav>

    <div class="form-box">
        <div class="login-container">
            <div class="top">
                <span>Don't have an account? <a th:href="@{/public/signup}">Sign Up</a></span>
                <header>Login</header>
            </div>
            <form th:action="@{/public/login}" th:object="${authen}" method="post">
                <div class="input-box">
                    <input type="text" th:field="*{userName}" class="input-field" placeholder="Username" required>
                    <i class="bx bx-user"></i>
                </div>
                <div class="input-box">
                    <input type="password" th:field="*{password}" class="input-field" placeholder="Password" required>
                    <i class="bx bx-lock-alt"></i>
                </div>
                <div class="input-box">
                    <input type="submit" class="submit" value="Log In">
                </div>
            </form>

            <div class="two-col">
                <div class="one">
                    <input type="checkbox" id="login-check">
                    <label for="login-check"> Remember Me</label>
                </div>
                <div class="two">
                    <label><a href="#">Forgot password?</a></label>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
